# Created by https://www.toptal.com/developers/gitignore/api/ssh
# Edit at https://www.toptal.com/developers/gitignore?templates=ssh

### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
license/*.*
tools/*.*
scripts/.terraform

# End of https://www.toptal.com/developers/gitignore/api/ssh
